<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/article/new">创建博文</a><br/>
    <a href="/article/edit">文章编辑</a><br/>
    <a href="/article/delete">文章删除</a><br/>
  </body>
</html>
